<form [formGroup]='form' (ngSubmit)='submitChange()'>
  <div class="form-group">
    <label for="oldpassword">Old Password</label>
    <input
      class="form-control"
      formControlName="oldPassword" 
      type="password" 
      id="oldpassword">
      <div class="alert alert-danger" *ngIf="!oldPassword.valid && oldPassword.touched">
        <div *ngIf='oldPassword.errors.oldPasswordInvalid'>Old Password is invalid.</div>
        <div *ngIf='oldPassword.errors.required'>Old Password is required.</div>
      </div>
  </div>
  <div class="form-group">
      <label for="newpassword">New Password</label>
      <input
        class="form-control"
        formControlName="newPassword"
        type="password" 
        id="newpassword">
        <div class="alert alert-danger" *ngIf="!newPassword.valid && newPassword.touched">
            <div>New Password is required.</div>
        </div>
  </div>
  <div class="form-group">
      <label for="confirmpassword">Confirm Password</label>
      <input
        class="form-control"
        formControlName="confirmPassword"
        type="password" 
        id="confirmpassword">
        <div class="alert alert-danger" *ngIf="!confirmPassword.valid && confirmPassword.touched">
            <div>Confirm Password is required.</div>
        </div>
        <div class="alert alert-danger" *ngIf='confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch'>Form is invalid.</div>
  </div>
  <button class="btn btn-primary" type="submit">Change Password</button>
</form>